#headingback {
    background-color: rgb(144,91,214);
    
    color:aliceblue;
    
}
#headingback h1{
    font-weight: bold;
    color:aliceblue;
}
#headingback h3{
    color:aliceblue;
}

#historypara {
    padding: 40px 0;
background-color: rgb(226,206,237);
}